@font-face {
  font-family: 'Press Start 2P';
  src: url('../fonts/PressStart2P-Regular.ttf');
}

body {
  font-family: 'Press Start 2P', cursive;
  background: #dfd;
}

h1 {
  padding-bottom: 10px;
}

#info {
  font-family: 'Press Start 2P', cursive;
}

.container {
  padding: 10px;
  text-align: center;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#footer {
  margin-top: 35px;
}